<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>dashboard-test</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB0-t-XRncwP3yEUSQEXw8Q6xiWkFv7bkg
    "></script>



    <script type="text/javascript">
    //   var map;
    //   var boundaryPolygon;

    //   function initialize() {
    //       var myLatlng = new google.maps.LatLng(30.0929, 31.37243);
    //       var mapOptions = {
    //           center: myLatlng,
    //           zoom: 18,
    //       };

    //       map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    //       var marker = new google.maps.Marker({
    //           position: myLatlng,
    //           title: "Hi!"
    //       });

    //       marker.setMap(map);

    //       google.maps.Polygon.prototype.Contains = function (point) {
    //           var crossings = 0,
    //               path = this.getPath();

    //           // for each edge
    //           for (var i = 0; i < path.getLength(); i++) {
    //               var a = path.getAt(i),
    //                   j = i + 1;
    //               if (j >= path.getLength()) {
    //                   j = 0;
    //               }
    //               var b = path.getAt(j);
    //               if (rayCrossesSegment(point, a, b)) {
    //                   crossings++;
    //               }
    //           }

    //           // odd number of crossings?
    //           return (crossings % 2 == 1);
    //           function rayCrossesSegment(point, a, b) {
    //               var px = point.lng(),
    //                   py = point.lat(),
    //                   ax = a.lng(),
    //                   ay = a.lat(),
    //                   bx = b.lng(),
    //                   by = b.lat();
    //               if (ay > by) {
    //                   ax = b.lng();
    //                   ay = b.lat();
    //                   bx = a.lng();
    //                   by = a.lat();
    //               }
    //               if (py == ay || py == by) py += 0.00000001;
    //               if ((py > by || py < ay) || (px > Math.max(ax, bx))) return false;
    //               if (px < Math.min(ax, bx)) return true;

    //               var red = (ax != bx) ? ((by - ay) / (bx - ax)) : Infinity;
    //               var blue = (ax != px) ? ((py - ay) / (px - ax)) : Infinity;
    //               return (blue >= red);
    //           }
    //       };
    //       google.maps.event.addListener(map, 'click', function (event) {
    //           if (boundaryPolygon != null && boundaryPolygon.Contains(event.latLng)) {
    //               alert(event.latLng + " Inside Polygon.");
    //           } else {
    //               alert(event.latLng + " Outside Polygon.");
    //           }
    //       });
    //   }

    //   function buildPolygon(boundary, color){

    //       var boundarydata = new Array();

    //       var latlongs = boundary.split(",");

    //       for (var i = 0; i < latlongs.length; i++) {
              
    //           latlong = latlongs[i].trim().split(" ");

    //           boundarydata[i] = new google.maps.LatLng(latlong[1], latlong[0]);

    //       }

    //       return  new google.maps.Polygon({
    //               path: boundarydata,
    //               strokeColor: "",
    //               strokeOpacity: 0.8,
    //               strokeWeight: 2,
    //               fillColor: color,
    //               fillOpacity: 0.4

    //       });
    //   }



    //   function drawPolygon() {
    //       initialize();
    //       // var boundary = '79.3103 28.8146, 77.699776 27.4833, 76.31928 28.18801, 75.40466 29.17628, 77.35474 29.69368';
          
    //       var boundary = '31.3641852 30.1035154, 31.3709661 30.1094581, 31.3821259 30.1006207, 31.3795498 30.0922295, 31.3641852 30.1035154';
          
    //       var boundaryTwo = '31.3570627 30.1127985, 31.3508956 30.1185863, 31.3432289 30.114974, 31.3471927 30.1102926, 31.3570627 30.1127985';

    //       boundaryPolygon =  buildPolygon(boundary, '#FF0000');    

    //       boundaryPolygon2 = buildPolygon(boundaryTwo, '#32CD32');

    //       google.maps.event.addListener(boundaryPolygon, 'click', function (event) {
    //           if (boundaryPolygon.Contains(event.latLng)) {
    //               alert(event.latLng + " Inside Polygon.");
    //           } else {
    //               alert(event.latLng + " Outside Polygon.");
    //           }
    //       });
    //       map.setZoom(14);

    //       // var myLatlng = ;
    //       map.setCenter(new google.maps.LatLng(30.0929, 31.37243));
    //       boundaryPolygon.setMap(map);

    //       boundaryPolygon2.setMap(map);
    //   }
  </script>


<!-- onload="initialize();drawPolygon();" -->
  </head>
  <body >
    <noscript>
      <strong>We're sorry but dashboard-test doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    
    
    
    
  </body>
</html>
