<template>
    <v-container
        class="fill-height"
        fluid
      >

    <v-row>

    <v-col cols="12">
    <v-row 

          class="grey lighten-5"
          justify="center"
          align="center">
    
    <!-- <v-row justify="space-around">
      <v-switch v-model="valid" class="ma-4" label="Valid" readonly></v-switch>
      <v-switch v-model="lazy" class="ma-4" label="Lazy"></v-switch>
    </v-row> -->

    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >
      <v-text-field
        v-model="phone"
        :counter="11"
        type="number"
        :rules="phoneRules"
        label="Your Phone Number"
        required
      ></v-text-field>

      <!-- <v-text-field
        v-model="email"
        :rules="emailRules"
        label="E-mail"
        required
      ></v-text-field> -->


          <!-- :append-icon-cb="toggleEye" -->
        <v-text-field
          label="Enter your password"
          v-model="password"
          min="8"
          :append-icon="e1 ? 'visibility' : 'visibility_off'"
          @click:append="() => (e1 = !e1)"
          :type="e1 ? 'password' : 'text'"
          :rules="passwordRules"
          counter
          required
        ></v-text-field>

      

      
       <!-- :disabled="!valid" -->
      <v-btn
        color="success"
        class="mr-4"
        @click="validate"
      >
        Submit
      </v-btn>

      <v-btn
        color="error"
        class="mr-4"
        @click="reset"
      >
        clear
      </v-btn>

      <v-btn
        color="warning"
        @click="resetValidation"
      >
        Clear
      </v-btn>
    </v-form>

  </v-row>
    </v-col>

    </v-row>
      
      </v-container>
</template>


<script>



  export default {
    data: () => ({
      valid: true,
      e1: true,
      phone: '',
      email: '',
      password: '',
      snackbar:false,
      phoneRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 11) || 'Phone must be less than 11 characters',
      ],
      passwordRules: [
        (v) => !!v || 'Password is required',
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      select: null,
      items: [
        'Item 1',
        'Item 2',
        'Item 3',
        'Item 4',
      ],
      checkbox: false,
      lazy: false,
    }),
    methods: {
      toggleEye(){

        this.e1 = !this.e1

      },

      persist(){


      },

      async validate () {

        if (this.$refs.form.validate()) {
        
          this.snackbar = true

          let credentail = {

            phone: this.phone,
            password: this.password
          }

          await Auth.signin(credentail)

          if(Auth.check()){

            this.$emit('loggedInSuccess');

            this.$router.push({ name: "map"})

          
          }

          console.log(localStorage.getItem('jwt'))
          

        
        }

      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>