<template>

  <div>

    <v-container class="grey lighten-5">


              <v-row>

                  <v-col cols="12">
        
        
                  <v-card
                    class="pa-2 m-6"
                      outlined
                        tile
                      >
                    
                    <div id="map-canvas" style="width: auto; height: 400px;">
                      </div>
    
                  </v-card>
  
                </v-col>

              </v-row>
    
    
    <v-row
    
        class="mb-6"
    
          no-gutters
        >
          <v-col cols="12" >
            <v-card>
                <v-card-title>
                  Online workers
                  <div class="flex-grow-1"></div>
                  <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table

                  :loading="!workers.length"

                    loading-text="Loading... Please wait"

                  :headers="workerTblHeader"
                  :items="workers"
                  :search="search"
                >
                
                 <template v-slot:item.profile_photo="{ item }">

                   <v-img
                    :src="isImage(item)"
                    :lazy-src="isImage(item)"
                    aspect-ratio="1"
                    class="grey lighten-2 worker-img " 
                    max-width="200"
                    max-height="200"
                  ></v-img>

                  <div v-if="item.isOnline" class="ring-container">
                                <div class="ringring"></div>
                                <div class="circle"></div>
                            </div>
                    <!-- <v-chip :color="getColor(item.calories)" dark>{{ item.Photo }}</v-chip> -->
                  </template>
                
                
                </v-data-table>
              </v-card>

          </v-col>

    </v-row>

  </v-container>
  


    </div>
</template>

<script>

import CustomMarker from './mapHelper.js'
// import  from './mapHelper.js'
export default {
  props:['source'],

  data () {
      return {
        //  boundaryPolygon: null,
        zones: [],
        map: null,
        search: '',       
        workerTblHeader:[
          { text: 'ID', value: 'id' },
          { text: 'Photo', value: 'profile_photo' },
          { text: 'Name', value: 'name' },
          { text: 'Wallet Amount (EG)', value: 'wallet_amount' },
          { text: 'Debit Fees (EG)', value: 'debit_fees' },
          { text: 'Email', value: 'email' },
          { text: 'Phone', value: 'phone' },
          // { text: 'Stars', value: 'rate' },

        ],
        workers: [],

        liveWorkers: [],
        
      }
    },


    async mounted(){

      await this.fetchZone();
      
      this.initializeMap();
      
      this.drawPolygon();

      setTimeout(() => {
        
        this.fetch();

      }, 1000);

      setInterval(() => {

        this.fetch();

      }, 7000)

      // setTimeout(() => {
        
      //   this.fetch();

      // }, 1000);




    },

    computed:{

      endPoint(){

        return `/supervisor/93/workers`;

      }, 

      zoneEndPoint(){

        return `/supervisor/93/zone`;

      }


    },

    methods:{

      isImage(item){

        return item.profile_photo ? item.profile_photo : ''

      },


      async fetchZone(){

          await axios.get(this.zoneEndPoint)

            .then(response => {
              // JSON responses are automatically parsed.
              this.zones = response.data.zones
              

            })
            .catch(e => {
              
                console.log(e)
              // this.errors.push(e)
            })


      },


      async fetch(){


        await axios.get(this.endPoint)

            .then(response => {
              // JSON responses are automatically parsed.
              this.workers = response.data.workers

              this.locateWorkers()
            })
            .catch(e => {
              
                console.log(e)
              // this.errors.push(e)
            })



      },

      initializeMap() {
          var myLatlng = new google.maps.LatLng(30.0929, 31.37243);
          var mapOptions = {
              center: myLatlng,
              zoom: 18,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          this.map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
          // var marker = new google.maps.Marker({
          //     position: myLatlng,
          //     title: "Hi!"
          // });

          // marker.setMap(this.map);

          google.maps.Polygon.prototype.Contains = function (point) {
              var crossings = 0,
                  path = this.getPath();

              // for each edge
              for (var i = 0; i < path.getLength(); i++) {
                  var a = path.getAt(i),
                      j = i + 1;
                  if (j >= path.getLength()) {
                      j = 0;
                  }
                  var b = path.getAt(j);
                  if (rayCrossesSegment(point, a, b)) {
                      crossings++;
                  }
              }

              // odd number of crossings?
              return (crossings % 2 == 1);
              function rayCrossesSegment(point, a, b) {
                  var px = point.lng(),
                      py = point.lat(),
                      ax = a.lng(),
                      ay = a.lat(),
                      bx = b.lng(),
                      by = b.lat();
                  if (ay > by) {
                      ax = b.lng();
                      ay = b.lat();
                      bx = a.lng();
                      by = a.lat();
                  }
                  if (py == ay || py == by) py += 0.00000001;
                  if ((py > by || py < ay) || (px > Math.max(ax, bx))) return false;
                  if (px < Math.min(ax, bx)) return true;

                  var red = (ax != bx) ? ((by - ay) / (bx - ax)) : Infinity;
                  var blue = (ax != px) ? ((py - ay) / (px - ax)) : Infinity;
                  return (blue >= red);
              }
          };
     
      },

      drawPolygon() {
          this.initializeMap();

          this.zones.forEach((zone)=>{

            let boundaryPolygon = this.buildPolygon(zone.polygen , '#FF0000');

            
            boundaryPolygon.setMap(this.map);

          })

          this.map.setCenter(new google.maps.LatLng(30.0929, 31.37243));
          
          this.map.setZoom(14);
      },

      buildPolygon(latlongs, color){

          var boundarydata = new Array();

          for (var i = 0; i < latlongs.length; i++) {
              
              let latlong = latlongs[i];

              boundarydata[i] = new google.maps.LatLng(latlong[0], latlong[1]);

          }

          return  new google.maps.Polygon({
                  path: boundarydata,
                  strokeColor: color,
                  strokeOpacity: 0.2,
                  strokeWeight: 2,
                  fillColor: color,
                  fillOpacity: 0.2

          });
      },

      clearLiveShow(){

            this.liveWorkers.forEach( liveWorker => {

              liveWorker.remove();
          
          })

      },

      locateWorkers(){

        // let beautyMarker =  new CustomMarker(location.point , this.map, location.photo);
        if(this.liveWorkers.length){

          this.clearLiveShow();

        }

        let locations = [];

        this.workers.forEach( worker => {

            locations.push({
              photo: worker.profile_photo ? worker.profile_photo : 'https://www.pphfoundation.ca/wp-content/uploads/2018/05/default-avatar.png',
              point: new google.maps.LatLng(worker.current_lat, worker.current_long)
            });

        });

        locations.forEach((location) => {

          let drawed =  new CustomMarker(location.point , this.map, location.photo);
          this.liveWorkers.push( drawed  ); 

        });



      }
         


    },

    
}
</script>

<style>

            .worker-img{

                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            

            .ring-container {
            
                position: relative;
                margin-bottom: 20px;
                top: -30px;
                left: 50px;
            
            }


            .circle {
                width: 15px;
                height: 15px;
                background-color: #62bd19;
                border-radius: 50%;
                position: absolute;
                top: 20px;
                left: 20px;
            }

            .ringring {
                border: 3px solid #62bd19;
                -webkit-border-radius: 30px;
                height: 25px;
                width: 25px;
                position: absolute;
                left: 15px;
                top: 15px;
                -webkit-animation: pulsate 1s ease-out;
                -webkit-animation-iteration-count: infinite; 
                opacity: 0.0
            }
            @-webkit-keyframes pulsate {
                0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
                50% {opacity: 1.0;}
                100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
            }



.customMarker {
  position: absolute;
  cursor: pointer;
  background:linear-gradient(#e66465, #9198e5);;
  width: 100px;
  height: 100px;
  /* -width/2 */
  margin-left: -50px;
  /* -height + arrow */
  margin-top: -110px;
  border-radius: 50%;
  padding: 0px;
}

.customMarker:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #424242 transparent;
  display: block;
  width: 0;
}

.customMarker img {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 50%;
}

</style>