<template>

  <div>

    <v-container>
    <v-row
    
        class="mb-6"
    
          no-gutters
        >
          <v-col cols="12" >
            <v-card>
                <v-card-title>
                  Online workers
                  <div class="flex-grow-1"></div>
                  <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>

                  <!-- :headers="headers" -->
                  <!-- :items="desserts" -->

                  <!-- v-if="orders.length > 0" -->
                  <!-- class="elevation-1" -->
                <v-data-table

                  :loading="!orders.length"

                    loading-text="Loading... Please wait"

                    :headers="OrderHeaders"
    
                      :items="orders"
          
                      :search="search"
          
                    ></v-data-table>
              
                </v-card>

          </v-col>

    </v-row>

  </v-container>
  


    <!-- <v-container
        class="fill-height"
        fluid
      >



      

      
        <v-row
          align="center"
          justify="center"
        >

        <h1>Map compoent loaded</h1>

          <v-tooltip right>
            <template v-slot:activator="{ on }">
              <v-btn
                :href="source"
                icon
                large
                target="_blank"
                v-on="on"
              >
                <v-icon large>mdi-code-tags</v-icon>
              </v-btn>
            </template>
            <span>Map compoent loaded</span>
          </v-tooltip>
          <v-tooltip right>
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                large
                href="https://codepen.io/johnjleider/pen/MNYLdL"
                target="_blank"
                v-on="on"
              >
                <v-icon large>mdi-codepen</v-icon>
              </v-btn>
            </template>
            <span>Map</span>
          </v-tooltip>
        </v-row>
      </v-container> -->

    </div>
</template>

<script>



export default {
  props:['source'],

  data () {
      return {
        search: '',

        orders:[],
        headers: [
          {
            text: 'Dessert (100g serving)',
            align: 'left',
            sortable: false,
            value: 'name',
          },
          { text: 'Calories', value: 'calories' },
          { text: 'Fat (g)', value: 'fat' },
          { text: 'Carbs (g)', value: 'carbs' },
          { text: 'Protein (g)', value: 'protein' },
          { text: 'Iron (%)', value: 'iron' },
        ],

        OrderHeaders: [
          {
            text: 'id',
            align: 'left',
            sortable: true,
            value: 'id',
          },
          { text: 'Worker name', value: 'worker.name' },
          { text: 'Adress', value: 'address' },
          { text: 'status', value: 'delivery_status' },
          { text: 'Total Price', value: 'total_price' },
          { text: 'Created at', value: 'created_at' },
        ],

        desserts: [
          {
            name: 'Frozen Yogurt',
            calories: 159,
            fat: 6.0,
            carbs: 24,
            protein: 4.0,
            iron: '1%',
          },
          {
            name: 'Ice cream sandwich',
            calories: 237,
            fat: 9.0,
            carbs: 37,
            protein: 4.3,
            iron: '1%',
          },
          {
            name: 'Eclair',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
            iron: '7%',
          },
          {
            name: 'Cupcake',
            calories: 305,
            fat: 3.7,
            carbs: 67,
            protein: 4.3,
            iron: '8%',
          },
          {
            name: 'Gingerbread',
            calories: 356,
            fat: 16.0,
            carbs: 49,
            protein: 3.9,
            iron: '16%',
          },
          {
            name: 'Jelly bean',
            calories: 375,
            fat: 0.0,
            carbs: 94,
            protein: 0.0,
            iron: '0%',
          },
          {
            name: 'Lollipop',
            calories: 392,
            fat: 0.2,
            carbs: 98,
            protein: 0,
            iron: '2%',
          },
          {
            name: 'Honeycomb',
            calories: 408,
            fat: 3.2,
            carbs: 87,
            protein: 6.5,
            iron: '45%',
          },
          {
            name: 'Donut',
            calories: 452,
            fat: 25.0,
            carbs: 51,
            protein: 4.9,
            iron: '22%',
          },
          {
            name: 'KitKat',
            calories: 518,
            fat: 26.0,
            carbs: 65,
            protein: 7,
            iron: '6%',
          },
        ],
      }
    },

    mounted(){

      setTimeout(() => {
        
        this.fetch();

      }, 3000);
      
    },

    computed:{

      endPoint(){

        return `/supervisor/93/orders`;

      }


    },

    methods:{


      fetch(){


          axios.get(this.endPoint)

            .then(response => {
              // JSON responses are automatically parsed.
              this.orders = response.data.orders
            })
            .catch(e => {
              
                console.log(e)
              // this.errors.push(e)
            })



      }
         


    },

    
}
</script>

<style scoped>

</style>