<template>
    <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >

        <h1>workers compoent loaded</h1>

          <v-tooltip right>

            <template v-slot:activator="{ on }">
              <v-btn
                :href="source"
                icon
                large
                target="_blank"
                v-on="on"
              >
                <v-icon large>mdi-code-tags</v-icon>

              </v-btn>

            </template>
            
            <span>workers compoent loaded</span>
          
          </v-tooltip>


          <v-tooltip right>
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                large
                href="https://codepen.io/johnjleider/pen/MNYLdL"
                target="_blank"
                v-on="on"
              >
                <v-icon large>mdi-codepen</v-icon>
              </v-btn>
            </template>
            <span>worker</span>
          </v-tooltip>


        </v-row>
      </v-container>
</template>

<script>
export default {
  props:['source'],
    
}
</script>

<style scoped>

</style>