<template>
    
    <div>
    
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
    >
      <v-list dense>
    
        <template v-for="item in items">

          <v-row v-if="item.heading"
            
            
            :key="item.heading"
              align="center"
          >

            <v-col cols="6">
          
              <v-subheader v-if="item.heading">
              
                {{ item.heading }}
              
              </v-subheader>

            </v-col>

            <v-col
              cols="6"
              class="text-center"
            >
              <a
                href="#!"
                class="body-2 black--text"
              >EDIT</a>

            </v-col>

          </v-row> 
          <!-- End of first if -->

          <v-list-group
            v-else-if="item.children"
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <template v-slot:activator>

              <v-list-item>
              
                <v-list-item-content>
              
                  <v-list-item-title>
              
                    {{ item.text }}
              
                  </v-list-item-title>
              
                </v-list-item-content>
              
              </v-list-item>
            
            </template>
            
            <v-list-item
            
              v-for="(child, i) in item.children"
            
              :key="i"
            
              @click="ON"
            >
              
              <v-list-item-action v-if="child.icon">
              
                <v-icon>{{ child.icon }}</v-icon>
              
              </v-list-item-action>
              
              <v-list-item-content>
              
                <v-list-item-title>
              
                  {{ child.text }}
              
                </v-list-item-title>
              
              </v-list-item-content>
            
            </v-list-item>
          
          </v-list-group>

          <!-- End of secand if -->
          
          <v-list-item
          
            v-else
          
            :key="item.text"

            router :to="item.route"
          
            @click="ON"
          
          >
            <v-list-item-action>
             
              <v-icon>{{ item.icon }}</v-icon>
            
            </v-list-item-action>
            
            <v-list-item-content>
            
              <v-list-item-title>
            
                {{ item.text }}
            
              </v-list-item-title>
            
            </v-list-item-content>
          
          </v-list-item>

          <!-- End if third if -->
        
        </template>
      
      </v-list>
    
    </v-navigation-drawer>


    <v-app-bar
    
      :clipped-left="$vuetify.breakpoint.lgAndUp"
    
      app
    
      color="blue darken-3"
    
      dark
    >
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <span class="hidden-sm-and-down">SV D</span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="search"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field>

      <div class="flex-grow-1"></div>
     
      <v-btn icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn>

      <v-btn icon>

        <v-icon>mdi-bell</v-icon>

      </v-btn>
      
      <v-btn
        icon
        large
      >
        <v-avatar
          size="32px"
          item
        >
          <v-img
            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
            alt="Vuetify"
          >
          </v-img></v-avatar>
      </v-btn>
    </v-app-bar>


    </div>

</template>

<script>
// import Navbar from './components/Navbar'
// import HelloWorld from './components/HelloWorld';

// export default {
//   name: 'App',
//   components: {
//     HelloWorld,
//     Navbar
//   },
//   data: () => ({
//     //
//   }),
// };


  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      items: [
        { icon: 'map', text: 'workers', route: '/map' },
        // { icon: 'history', text: 'Workers' , route: '/workers' },
        { icon: 'content_copy', text: 'Orders' , route: '/orders' },
        // {
        //   icon: 'keyboard_arrow_up',
        //   'icon-alt': 'keyboard_arrow_down',
        //   text: 'Labels',
        //   model: true,
        //   children: [
        //     { icon: 'add', text: 'Create label' },
        //   ],
        // },
        // {
        //   icon: 'keyboard_arrow_up',
        //   'icon-alt': 'keyboard_arrow_down',
        //   text: 'More',
        //   model: false,
        //   children: [
        //     { text: 'Import' },
        //     { text: 'Export' },
        //     { text: 'Print' },
        //     { text: 'Undo changes' },
        //     { text: 'Other contacts' },
        //   ],
        // },
      
      ],
    }),

    methods:{

      ON(){

        console.log('clicked here')


      }


    }
  }
</script>